{% extends "app_instagram/base.html" %}

{% block content %}
<h1>Upload file</h1>
<form action="{% url 'app_instagram:edit' pic.id %}" method="post">
    {% csrf_token %}
    <img src="{{media}}{{pic.path}}" class="card-img-top" alt="pic">
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" value="{{pic.description}}" name="description">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
